
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="eng">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        /* выравнивание по центру */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        div {
            text-align: center;
        }
    </style>
</head>
<body>
<div>

    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>

    </th:block>
    <a href="http://localhost:8080/spring_mvc_war_exploded/users">Start app</a>

</div>
</body>
</html>